<div class="clock">
  <svg class="chart">
    <circle cx="317.5" cy="317.5" r="315" class="circle_bg" />
    <circle cx="317.5" cy="317.5" r="315" class="circle_fill" transform="rotate(630 317.5 317.5)" />
    <!-- <circle id="chart" cx="635" cy="635" r="617" transform="rotate(-635 635 635)"/> -->
  </svg>
  <h3> Clean up the desk</h3>
  <h2> 06 : 15</h2>
  <div class="clock__option">
    <input type="image" src="../assets/img/clock_btn1.svg" class="clock__option__btn">
    <input type="image" src="../assets/img/clock_btn2.svg" class="clock__option__btn">
    <input type="image" src="../assets/img/clock_btn3.svg" class="clock__option__btn">
  </div>
</div>
<h4 class="mt-4 nextTask text-center">Next: Feed the cat</h4>
