@import "../color.scss";
.body_bg{
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    & > img{
        position: absolute;
        z-index: -1;
    }
    &_left{
        left:0;
    }
    &_btm{
    bottom: 0;
    right: 200px;
    }
    &_right{
     right: 0;
    }
    &_top{
        top: 0;
        left: 300px;
    }
}
.mainContent{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// task input
.addTask{
  // position: absolute;
  // left: 50px;
  // top: 0;
  width: 340px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .input_group{
    border-bottom: 1px solid $mainColor;
  }
  input{
    outline: 0;
  }
  input[type="text"]{
    width: calc(100% - 30px);
    appearance: none;
    border: 0;
    color: $mainColor;
    background: transparent;
    letter-spacing: 5px;
    padding: 5px;
    &:not(:focus){
      filter: opacity(0.3);
    }
    &::placeholder{
      color: #fff;
      letter-spacing: 5px;
    }
    &:focus{
      outline: 0;
      &::placeholder{
        color: $mainColor;
      }
    }
  }
  &_btn{
    width: 21px;
  }
}


//側邊攔
.side_bar{
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  input{
    outline: 0;
    filter: brightness(.9);
    &:hover,.active{
      filter: brightness(1);
    }
  }
  &.list--active{
    justify-content:space-between;
    &::before{
      content: '';
      display: block;
      width: 47%;
      height: 130%;
      background:linear-gradient(to right ,#D9343F, #BC2B35);
      position: fixed;
      top: -15%;
      right: 0;
      z-index: -1;
      border-radius: 50%  0 0 50%;
    }
  }

  &>*{
    display: inline-block;
  }
  li{
    list-style: none;
    margin: 30px 0;
  }

}
