<div class="container-fluid body_bg" >
  <app-t-header [menuActive]="listActive"></app-t-header>
  <img src="../assets/img/bg1.svg" class="body_bg_btm" alt="">
  <img src="../assets/img/bg2.svg" class="body_bg_top" alt="">
  <img src="../assets/img/bg3.svg" class="body_bg_right" alt="">
  <img src="../assets/img/bg4.svg" class="body_bg_left" alt="">
  <div class="mainContent container-fluid">
    <div class="col-3" *ngIf="!listActive.active">
      <div class="addTask">
        <div class="input_group">
          <input type="text" placeholder="Add a new mission...">
          <input type="image" src="../assets/img/plus.svg" alt="" class="d-inline-block addTask_btn">
        </div>

      </div>
    </div>

    <!-- tomato clock -->
    <div class="col-6">
      <div class="clock_section">
        <app-clock></app-clock>
      </div>
    </div>
    <div class="col-3" [ngClass]="{'col-6': listActive.active}">
      <app-side-bar [menuActive]="listActive"></app-side-bar>
    </div>
    <!-- right side bar options -->
  </div>
</div>


<router-outlet></router-outlet>
