<div class="container-fluid body_bg">
  <app-t-header></app-t-header>
  <img src="../assets/img/bg1.svg" class="body_bg_btm" alt="">
  <img src="../assets/img/bg2.svg" class="body_bg_top" alt="">
  <img src="../assets/img/bg3.svg" class="body_bg_right" alt="">
  <img src="../assets/img/bg4.svg" class="body_bg_left" alt="">
  <div class="mainContent">
    <div class="addTask">
      <div class="input_group">
          <input type="text" placeholder="Add a new mission...">
          <input type="image" src="../assets/img/plus.svg" alt="" class="d-inline-block addTask_btn">
      </div>

    </div>
    <div class="clock_section">
      <app-clock></app-clock>
      <h4 class="mt-4 tip text-center">Next: Feed the cat</h4>
    </div>
    <div class="side_bar mr-5">
      <ul class="pl-0">
        <li><input type="image" src="../assets/img/sideBar_btn1.svg"></li>
        <li><input type="image" src="../assets/img/sideBar_btn2.svg"></li>
        <li><input type="image" src="../assets/img/sideBar_btn3.svg"></li>
      </ul>
    </div>
  </div>
</div>


<router-outlet></router-outlet>
