@import 'src/color.scss';
header{
    padding: 44px 50px;
    display: flex;
    justify-content: space-between;
    a {
        & > *{
        vertical-align: middle;
    }
    }
    h1{
        color: $mainColor;
        font-size: 16px;
        margin: 0 20px;
        padding:10px 20px;
        border-left: 1px solid $mainColor;
        letter-spacing: 2px;
    }
    .menu{
        text-align: right;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        &--active{
          // background-color: #154546;
          & > div{
            &:nth-child(1){
              transform: rotate(45deg) translate(7.5px,10px);
            }
            &:nth-child(2){
              transform: rotate(-45deg);
            }
            &:nth-child(3){
             display: none;
            }
          }
        }
    }
    .menu_dash{
        width: 50px;
        border-top: 2px solid $mainColor;
        margin-bottom: 10px;
        &--short{
            width:30px;
        }
    }
}
p{
    color:#fff;
}
