<div class="task_list">
  <div class="task_list__add">
    <div class="input_group rounded mb-3">
        <input type="text" placeholder="Add a new mission..." class="p-2">
        <input type="image" src="../assets/img/plus.svg" alt="" class="d-inline-block addTask_btn">
    </div>
    <div class="task_list__calendar text-center p-1">
      2019/08/02
    </div>
    <div class="task_list__group p-3 py-4">
      <ul class="list-unstyled">
        <li> <label for="list1"></label> <input id="list1" type="checkbox">Call to Mars</li>
        <li><input type="checkbox"><label for="list1"></label> Call to Will</li>
        <li><input type="checkbox"><label for="list1"></label> clean up the desk</li>
        <li><input type="checkbox"><label for="list1"></label> feed the cat</li>
        <li><input type="checkbox"><label for="list1"></label> go home</li>
      </ul>
    </div>
  </div>
</div>
