<div class="task_list">
  <div class="task_list__add">
    <div class="input_group rounded mb-3">
      <input type="text" placeholder="Add a new mission..." class="p-2">
      <input type="image" src="../assets/img/plus.svg" alt="" class="d-inline-block addTask_btn">
    </div>
    <div class="task_list__calendar text-center p-1">
      2019/08/02
    </div>
    <div class="task_list__group p-3 py-4">
      <ul class="list-unstyled">
        <li *ngFor="let list of lists$" ><input type="checkbox" id="{{list.id}}"><label for="{{list.id}}"></label>{{list.title}}</li>
        <!-- <li><input id="list1" type="checkbox" checked><label for="list1"></label> Call to Mars</li>
        <li><input id="list2" type="checkbox"><label for="list2"></label> Call to Will</li>
        <li><input id="list3" type="checkbox"><label for="list3"></label> clean up the desk</li>
        <li><input id="list4" type="checkbox"><label for="list4"></label> feed the cat</li>
        <li><input id="list5" type="checkbox"><label for="list5"></label> go home</li> -->
      </ul>
    </div>
  </div>
</div>
