@import 'src/color.scss';
.task_list{
  width: 600px;
  // input
    .input_group{
      background: $mainColor;
      input[type="text"]{
        border: 0px solid ;
        appearance: none;
        background-color: transparent;
        color: $lightBgColor;
        width: calc(100% - 30px);
        outline: 0;
        font-size: 120%;
        letter-spacing: 2px;
        &::placeholder{
          color: $lightBgColor;
        }
      }
    }
    //calendar
    &__calendar{
      background-color: $lightBgColor;
    }
    &__group{
      background-color: $bgColor;
      ul{
        display: flex;
        flex-direction: column;
      }
      li{
        border-bottom: 1px dashed $mainColor;
        padding: 12px 0;
        order: 0;
        &>*{
          display: inline-block;
          vertical-align: middle;
        }
        &.finished{
          order: 1;
          opacity: .6;
        }
        input{
          display: none;
          &:checked + label{
            background: url('src/assets/img/checked.svg') no-repeat;
            background-size: contain;
            width: 22px;
            height: 22px;
            margin-right: calc(1rem - 2px);
          }
        }
        label{
          width: 20px;
          height: 20px;
          background: url('src/assets/img/uncheck.svg')  no-repeat;
          background-size: contain;
          margin-right: 1rem;
          margin-bottom: 0;
          cursor: pointer;
        }

      }
    }
}
